body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #1b1b1b;
}

header {
    background-color: #556b2f; /* Olive color */
    color: white;
    text-align: center;
    padding: 1.5em 0;
    font-family: 'Georgia', serif;
    letter-spacing: 2px;
}

.carousel-container {
    width: 90%;
    max-width: 750px;
    margin: 2em auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel {
    display: flex;
    width: 300%;
    animation: slide 30s infinite;
}

.carousel-slide {
    width: 33.3333%;
    transition: opacity 1s;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    33.33% { transform: translateX(-33.3333%); }
    66.66% { transform: translateX(-66.6666%); }
    100% { transform: translateX(0%); }
}

.description {
    padding: 2em;
    background-color: #2f4f4f; /* Dark Slate Gray */
    color: white;
    font-family: 'Georgia', serif;
    border-top: 5px solid #556b2f;
    border-bottom: 5px solid #556b2f;
    text-align: center;
}

.description h2 {
    margin-bottom: 1em;
    font-size: 1.8em;
}

.description p {
    font-size: 1.2em;
    line-height: 1.5;
}

.contact {
    padding: 2em;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
}

.contact h2 {
    margin-bottom: 1em;
    font-size: 1.8em;
    color: #556b2f;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label, .contact input, .contact textarea {
    margin-bottom: 1em;
    width: 80%;
    max-width: 500px;
}

.contact input, .contact textarea {
    padding: 0.5em;
    border: 1px solid #556b2f;
    border-radius: 5px;
    background-color: #2f4f4f;
    color: white;
}

.contact button {
    background-color: #556b2f;
    color: white;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.map {
    padding: 2em;
    background-color: #2f4f4f;
    color: white;
    text-align: center;
}

.map h2 {
    margin-bottom: 1em;
    font-size: 1.8em;
    color: #556b2f;
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
